[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest-django = "*"
pytest-cov = "*"
codecov = "*"
django-decouple = "*"
model-mommy = "*"

[packages]
django = "*"
gunicorn = "*"
django-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
collectfast = "*"
whitenoise = "*"
django-debug-toolbar = "*"
python-decouple = "*"
sentry-sdk = "*"
django-ordered-model = "*"
ipython = "*"
django-extensions = "*"

[requires]
python_version = "3.8"
