
<footer class="main-footer mt-4 pt-5 text-light">
	<div class="container">
		<div class="row">
			<div class="col">
				<h4>Contato</h4>
				<address>
					+55 xx xxxxx-xxxx
					<br/>
					<a href="mailto:{{contato_email}}" class="text-light">{{contato_email}}</a>
				</address>
			</div>
		</div>
	</div>
	<div class="rights pb-2 pt-2">
		<div class="container">
			<div class="row">
				<div class="col">
					{% now 'Y' %} Todos os direitos reservados.
				</div>
			</div>
		</div>
	</div>
</footer>