{% extends "base/base.html" %}

{% load static %}

<title>{% block title %}Dacio Lima - Home{% endblock title %}</title>
{% block description %}Conteúdo gratuítos de Python{% endblock %}


{% block content %}
	<div class="row">
		<div class="col-md-12">

			<div class="jumbotron">
				<h2>
					<strong>Dácio Lima</strong>
				</h2>

				<h4 class="mt-4">Teste de gateway de pagamento</h4>
				<!-- INICIO DO BOTAO PAGSEGURO -->
								<a href="https://pag.ae/7Ws7cSZw7/button" target="_blank" title="Pagar com PagSeguro"><img src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif" alt="Pague com PagSeguro - é rápido, grátis e seguro!" /></a>
				<!-- FIM DO BOTAO PAGSEGURO --><!-- FIM DO BOTAO PAGSEGURO -->



				<!--				<h4 class="mt-4">Lista de Espera de Curso</h4>-->
				<!--				<form action="https://gmail.us2.list-manage.com/subscribe/post?u=90827c4dddd70fd964d34a598&amp;id=19b20dec8b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-row align-items-center" target="_blank" novalidate>-->
				<!--					<div class="form-row align-items-center">-->
				<!--						<div class="col-auto">-->
				<!--							<label class="sr-only" for="mce-EMAIL">Email</label>-->
				<!--							<input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL" placeholder="Digite seu email">-->
				<!--						</div>-->

				<!--						<div class="col-auto">-->
				<!--							<label class="sr-only" for="mce-FNAME">Nome</label>-->
				<!--							<input type="email" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Digite seu nome">-->
				<!--						</div>-->

				<!--						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_90827c4dddd70fd964d34a598_19b20dec8b" tabindex="-1" value=""></div>-->

				<!--						<div class="col-auto">-->
				<!--							<input type="submit" value="Cadastrar" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">-->
				<!--						</div>-->
				<!--					</div>-->
				<!--				</form>-->

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<h5 class="card-header">
					About
				</h5>
				<div class="card-body">
					<p class="card-text">
						<img  class="img-thumbnail float-left mr-3 foto_perfil" src="{% static 'img/perfil.png' %}" alt="Foto Dácio Lima">
					</p>

					A 12 anos na área TI. Experiência como suporte técnico em informática, suporte ERP Totvs Protheus.
					Além de me dedicar no atual cargo de técnico N2, continuo obtendo conhecimento em DataScience com
					Python e desenvolvimento de software no modelo de arquitetura em nuvem usando
					Python e Javascript. Persistência com MySQL, PostgresSQL e MongoDB.
					Gerenciamento de versão com Git.

				</div>
			</div>
		</div>
	</div>
{% endblock %}