{% extends "base/base.html" %}

{% load static %}

<title>{% block title %}Dacio Lima - Home{% endblock title %}</title>
{% block description %}Conteúdo gratuítos de Python{% endblock %}


{% block content %}
	<div class="row">
		<div class="col-md-12">

			<div class="jumbotron">
				<h2>
					<strong>Dácio Lima</strong>
				</h2>

				<h4 class="mt-4">Teste de gateway de pagamento</h4>
				<!-- INICIO DO BOTAO PAGSEGURO -->
								<a href="https://pag.ae/7Ws7cSZw7/button" target="_blank" title="Pagar com PagSeguro"><img src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif" alt="Pague com PagSeguro - é rápido, grátis e seguro!" /></a>
				<!-- FIM DO BOTAO PAGSEGURO --><!-- FIM DO BOTAO PAGSEGURO -->



				<!--				<h4 class="mt-4">Lista de Espera de Curso</h4>-->
				<!--				<form action="https://gmail.us2.list-manage.com/subscribe/post?u=90827c4dddd70fd964d34a598&amp;id=19b20dec8b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-row align-items-center" target="_blank" novalidate>-->
				<!--					<div class="form-row align-items-center">-->
				<!--						<div class="col-auto">-->
				<!--							<label class="sr-only" for="mce-EMAIL">Email</label>-->
				<!--							<input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL" placeholder="Digite seu email">-->
				<!--						</div>-->

				<!--						<div class="col-auto">-->
				<!--							<label class="sr-only" for="mce-FNAME">Nome</label>-->
				<!--							<input type="email" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Digite seu nome">-->
				<!--						</div>-->

				<!--						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_90827c4dddd70fd964d34a598_19b20dec8b" tabindex="-1" value=""></div>-->

				<!--						<div class="col-auto">-->
				<!--							<input type="submit" value="Cadastrar" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">-->
				<!--						</div>-->
				<!--					</div>-->
				<!--				</form>-->

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<h5 class="card-header">
					About
				</h5>
				<div class="card-body">
					<p class="card-text">
						<img  class="img-thumbnail float-left mr-3 foto_perfil" src="{% static 'img/perfil.png' %}" alt="Foto Dácio Lima">
					</p>

					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tristique sapien sed auctor faucibus. Suspendisse quis libero sit amet elit fringilla elementum. Aenean pharetra vehicula dictum. Praesent mattis eros congue leo commodo, blandit ullamcorper eros viverra. Mauris ultrices dolor in lacus dignissim tempor. Quisque pharetra consectetur nulla, vitae luctus lorem blandit vitae. Nulla vitae aliquam purus. Cras volutpat justo aliquet ex volutpat pretium. Quisque lectus purus, tincidunt non nisl eget, vulputate tincidunt mauris. Maecenas semper lorem velit, eu pretium lectus congue eget. Duis placerat mauris est, eget feugiat libero aliquam at.
Maecenas varius sapien ante, quis lacinia lorem tincidunt commodo. Integer urna lectus, accumsan vitae mauris ut, imperdiet porta tellus. Curabitur id diam viverra, fermentum dolor eu, consequat diam. Nunc vestibulum leo in tortor bibendum luctus. Vivamus dui nunc, porta at mauris sed, tempor viverra nunc. Proin feugiat sed metus sit amet rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Proin volutpat purus eu faucibus semper. Nam eleifend eleifend eros, vehicula lacinia odio hendrerit et. Mauris vitae dictum diam, a vulputate justo. Aenean quis nisi dapibus, dictum lorem ac, luctus ligula. Nulla eu porttitor tortor. Vestibulum imperdiet accumsan maximus. Cras ex sapien, placerat gravida lacinia eget, varius et mauris. Nunc maximus risus in enim vulputate rhoncus. Maecenas dictum urna id consequat consequat. Ut lobortis metus vel ante convallis facilisis. Curabitur ornare enim id ex condimentum blandit. Integer turpis neque, sagittis ac hendrerit in, commodo sit amet velit.

				</div>
			</div>
		</div>
	</div>
{% endblock %}