                                                                                       .foto_perfil {
    width: 160px;
    height: 160px;
}

.main-footer {
    background-color: #9fd25f;
}


.rights {
    background-color: #82b641;
}
